*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif; 
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(203, 178, 113), #ffffff);
    width: 100%;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .BeautybyNora{
color: aliceblue;
font-weight: 700;
text-decoration: none;
font: size 1.5em;
text-transform: uppercase;
letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items:center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: aliceblue;
    border-radius: 20px;
}

header ul li a:hover, 
header ul li a.active{
    background: #efebeb;
    color: rgb(21, 21, 20);
}

.main_image{
    width: 100%;
    min-height: 100vh;
    background: url(images/mm_.jpeg);
    background-position: center; 
}


