/* This is for WELCOME PAGE CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(203, 178, 113), #ffffff);
    background: url(images/s2.jpg);
    background-size: 100%;
    width: 100%;
}

header {
    padding: 30px ;
    z-index: 10000;
    text-align: center;
}

header .BeautybyNora {
    color: aliceblue;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 2px;
}


.welcome-page {
    padding: 200px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 50px;
}

.card-main{
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 50px;
}

.card{
    font-size: 2em;
    color: #ffffff;
}

p{
    text-align: center;
    color: #ffffff;
}

.new-page{
    display: flex;
justify-content: center;
}

.site{
    font-size: 1em;
    display: flex;
    border-radius: 20px;
    padding: 20px ;
    font-weight: 700;
    color: black;
    justify-content: center;
    background-color: #ffffff;
}